* {
    margin:0; 
    padding:0;
  }
  li {
    list-style: none;
  }

  .kind_wrap{
    border: 1px solid light;
    width: 100%;
    max-width: 45%;
    margin: 0 auto;
    position: relative;
   
  }

  .kind_slider {
    margin-bottom: 8%;
    margin-top: 8%; 
    text-align: center;
    height: 70%;
    width:100%;
    overflow: hidden;
    margin : auto;
    z-index: -1;
 
  }
  

  
  .kind_slider ul {
    width: calc(100% * 4);
    display: flex;
    animation: slide 15s infinite;
 
  }
  
  /* slide를 8초동안 진행하며 무한반복 함 */
  
  .kind_slider li {
    width: calc(100% / 4);
    height: 70%;
   
    
  }
  
  @keyframes slide {
    0% {
      margin-left: 0;
    
    }
  
    /* 0 ~ 10  : 정지 */
    10% {
      margin-left: 0;
   
    }
  
    /* 10 ~ 25 : 변이 */
    25% {
      margin-left: -100%;
    }
  
    /* 25 ~ 35 : 정지 */
    35% {
      margin-left: -100%;
    }
  
    /* 35 ~ 50 : 변이 */
    50% {
      margin-left: -200%;
    }
  
    60% {
      margin-left: -200%;
    }
  
    80%{
      margin-left: -300%;
    }

    90%{
      margin-left: -300%;
    }
  
    100% {
      margin-left: 0;
    }
    
  }

  .header-align {
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    height: 150px;
  
  }
  
  #header-top {
    float: right;
    position: relative;
    left: -60px;
    top: 5px;
  }

  #header-mainname {
    padding: 30px;
    text-align: center;
    font-family: 'Cafe24Oneprettynight';
    font-size: 1.7em;
    color: #77c466;
  
  }

#header{
    background : url("./image.1111.png");
    background-size: 100%;
    background-repeat:no-repeat;
 
    margin:auto;
  }

#font-h1{
  font-family: 'Cafe24Oneprettynight';
    font-size: 3em;
    color: black;
   
}

body{
  background : url("./image.1111.png");
  background-size: 100%;

  margin:auto;
}
