@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-align{
	margin: 0 auto;
	padding : 5px;
    width: 100%;
    height:150px;
    
}
#header-login-success-name{
	position:relative;
	left:10%;
}
#header-top {
	float:right;	
	position:relative;
	top: 5px;
	width:100%;
	display: block;
	text-align: right;
	left: -3.3%;
}


#header-mainname{
	padding: 30px;
	text-align:center;
	font-family: 'Cafe24Oneprettynight';
	font-size:1.7em;
	color:#77c466;
	
	
}
#headersatag-style{
	text-decoration:none;
}
#header-top span{
    color:#111111;     /*앞과뒤의글자가 같은경우 하나로 줄일 수 있음 #888; */
    letter-spacing: -1px;    /* 글자사이의 간격 */
    font-size:17px;             /*폰트의 크기 */
    line-height:10px;         /*텍스트 라인 높이간격 */
    text-shadow: 1px 1px 1px #000;
    position: relative;
    top :-5px;

}

a {
	text-decoration:none;
	
}

#main-align{
	width:65%;
	margin:auto;
	height:700px;
}

#title{
	text-align: center;
	width:100%;
	padding:20px;
	border-bottom: 2px solid gray ;
}
#update-information-textfield{
	padding : 15px;
	width:100%;
	text-align: center;
	height:500px;
}
.input-id {	
	padding:16px;
	font-size:20px;
	position:relative;
	right:35px;
}

.input-pw{
	margin : auto;
	width: 100%;
	position: relative;
	right:53px;
	padding:10px;
	font-size:20px;
}

.input-age{
	padding:16px;
	font-size:20px;
}
.input-address{
	padding:16px;
	font-size:20px;
}
.input-name{
	padding:16px;
	font-size:20px;
}
.input-phone1{
	padding:16px;
	font-size:20px;
}
.input-phone2{
	padding:16px;
	font-size:20px;
}
.input-phone3{
	padding:16px;
	font-size:20px;
}
.input-gender{
	padding:16px;
	font-size:20px;
}
.button-submit{
	padding:16px;	
}
.input-phone{
	font-size:20px;
	position:relative;
right:10px;
}

input{
	border :1px gray solid;
}
