
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#main-align{ 
   
    margin : auto;
    width:45%;
    height: 450px;
    display: block;
    text-align: center;
}

.header-align{
	margin: 0 auto;
	padding : 5px;
    width: 100%;
    height:200px;
    
}

#header-top {
	float:right;	
	position:relative;
	left:-60px;
	top: 5px;
}

#header-mainname{
	padding: 30px;
	text-align:center;
	font-family: 'Cafe24Oneprettynight';
	font-size:1.7em;
	color:#77c466;
}

header span a{
        text-decoration:none;
    }
    
    #header-top span{
        color:#111111;     /*앞과뒤의글자가 같은경우 하나로 줄일 수 있음 #888; */
        letter-spacing: -1px;    /* 글자사이의 간격 */
        font-size:17px;             /*폰트의 크기 */
        line-height:10px;         /*텍스트 라인 높이간격 */
        text-shadow: 1px 1px 1px #000;
              
    }	
main h1{
    text-align: center;
    padding : 20px;
}
#id-align{
    margin : 35px;
   font-size: 20px;
   font-weight: bolder;
   position :relative;
   right:-10px;
 
}

#pw-align {
    font-size: 20px;
    margin : 35px;
    font-weight: bolder;
   
}
div input{
    width:25%;
    height:30px;
}

#header-mainname{
    padding: 30px;
	text-align:center;
	font-family: 'Cafe24Oneprettynight';
	font-size:1.7em;
	color:#77c466;
	
}

#button-going {
  height:100px;
  width:100%;
  position: relative;
  left:20%;
}

