@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#main-align{ 
   padding:20px;
    margin : 0 auto;
    width:50%;
    height: 20%;
    display: block;
    text-align: center;
    font-weight: bolder;
}

.header-align{
	margin: 0 auto;
	padding : 5px;
    width: 100%;
    height:200px;
    
}

#header-top {
	float:right;	
	position:relative;
	left:-60px;
	top: 5px;
}

#header-mainname{
	padding: 30px;
	text-align:center;
	font-family: 'Cafe24Oneprettynight';
	font-size:1.7em;
	color:#77c466;
}

header span a{
        text-decoration:none;
}
    
 #header-top span{
        color:#111111;     /*앞과뒤의글자가 같은경우 하나로 줄일 수 있음 #888; */
        letter-spacing: -1px;    /* 글자사이의 간격 */
        font-size:17px;             /*폰트의 크기 */
        line-height:10px;         /*텍스트 라인 높이간격 */
        text-shadow: 1px 1px 1px #000;
              
}	


form{
    width:100%;
}
.input-id {
    display: block;
    margin :auto;
    width:100%;
    height:40px;
    margin : 1.5%;
    color: black;
   
}

.input-pw {
    display: block;
    margin :auto;
    width:100%;
    height:40px;
    position: relative;
    right : 6.5%;
    margin : 1.5%;
    color: black;
   
}

.input-name {
    display: block;
    margin :auto;
    width:100%;
    height:40px;
    position: relative;
    right : 4.5%;
    margin : 1.5%;
    color: black;
   
}

.input-age {
    display: block;
    margin :auto;
    width:100%;
    height:40px;
    position: relative;
    right : 14%;
    margin : 1.5%;
    color: black;
}

.input-address {
    display: block;
    margin :auto;
    width:100%;
    height:40px;
    position: relative;
    right : 4.7%;
    margin : 1.5%;
    color: black;
  
}
.input-phone{
    display: block;
    margin :auto;
    width:100%;
    height:40px;
    position: relative;
    right : 3.2%;
    margin : 1.5%;
    color: black;
  
}
.input-gender {
    display: block;
    margin :auto;
    width:100%;
    height:40px;
    margin : 1.5%;
    color: black;
    
}

.button-submit{
    display: block;
    margin :auto;
    width:100%;
    height:90px;
    position:relative;
    left:-2%;
      margin : 1.5%;
      color: black;
  
}
