/* .main-picture {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
} */


.main-picture {
  height: 800px;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 20px;
}

.main-picture ul {
  width: calc(100% * 4);
  display: flex;
  animation: slide 10s infinite;
}

/* slide를 8초동안 진행하며 무한반복 함 */

.main-picture li {
  width: calc(100% / 4);
  height: 300px;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  /* 0 ~ 10  : 정지 */
  10% {
    margin-left: 0;
  }

  /* 10 ~ 25 : 변이 */
  25% {
    margin-left: -100%;
  }

  /* 25 ~ 35 : 정지 */
  35% {
    margin-left: -100%;
  }

  /* 35 ~ 50 : 변이 */
  50% {
    margin-left: -200%;
  }

  60% {
    margin-left: -200%;
  }

  80%{
    margin-left: -300%;
  }
  85%{
    margin-left: -300%;
  }

  100% {
    margin-left: 0;
  }
}