li {
  list-style: none
}

ul li a {
  text-decoration: none;
  font-size: 1vw;
}

.menu {
  text-align: left;
  width: 30%;
  overflow: hidden;
  margin: 0;
  list-style: none;
}

.menu>li {
  border-radius: 2em;
  display: inline-block;
  width: 30%;
  /*20*5=100%*/
  /*float: left;*/
  text-align: center;
  line-height: 45px;
  background-color: rgb(222, 250, 6);

}

.menu a {
  color: #377649;
}

.submenu {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.submenu>li {
  line-height: 110px;
  width: 100px;
  text-decoration: none;
  border-radius: 2em;
}

.menu>li:hover {
  border-radius: 2em;
  transition-duration: 0.5s;
}

.menu>li:hover .submenu {
  height: 530px;
  /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;
}

#menubar {
  position: fixed;
  top: 9.5%;
  left: 100px;
  width: 100%;
  z-index: 100;
}